.common-offer-image-container {
    display: flex;
    position: relative;
}

.common-feature-container {
    display: flex;
    width: 100%;
    gap: 100px;
}

.common-feature-container > div.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    text-align: center;
    justify-content: space-between;
}

.offer-subtitle {
    color: rgba(112, 153, 57, 0.2);
    font-weight: var(--light-1);
    font-size: var(--font-size-30);
    line-height: 10px;
}

.offer-title {
    color: rgba(27, 46, 2, 1);
    font-weight: var(--bold-2);
    font-size: var(--font-size-70);
}

.offer-description {
    color: var(--main-dark-color);
    font-weight: var(--light-1);
    font-size: var(--font-size-20);
    line-height: 28px;
}

.common-main-offer-container {
    gap: 90px;
}

.features-image {
    width: 40px;
    height: 40px;
}

.features-title {
    font-weight: var(--light-1);
    font-size: var(--font-size-13);
    color: var(--main-dark-color);
}

.offer-image-container {
    width: 100%;
}

.offer-text-container {
    gap: 2rem;
}

.offer-image {
    display: block;
}

.offer-image-opacity {
    display: none;
}

.slider-common-container {
    display: none;
}

@media (max-width: 768px) {
    .slider-common-container {
        display: block;
    }

    .offer-image-container {
        position: absolute;
        z-index: -1;
        display: flex;
        justify-content: center;
    }

    .offer-image-opacity {
        display: block;
    }

    .offer-image {
        display: none;
    }

    .offer-subtitle {
        text-align: center;
        font-size: var(--font-size-25);
    }

    .offer-title {
        text-align: center;
        font-size: var(--font-size-37);
    }

    .common-feature-container > div.features-container {
        display: none;
    }

    .swiper-features-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .swiper-features-container > .features-title {
        text-align: center;
    }

    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: calc(var(--swiper-navigation-size) / 2)!important;
        color: var(--btn-orange-background);
    }

    .offer-description {
        font-size: var(--font-size-13);
        text-align: center;
        color: var(--secondary-dark-color);
        line-height: unset;
    }

    .offer-text-container {
        gap: 0.8rem;
    }

    .common-main-offer-container {
        gap: 40px;
    }
}