:root {
    --main-dark-color: #000;
    --secondary-dark-color: #1A1101;
    --main-white-color: #fff;
    --btn-orange-background: #EF9C3B;
    --grey-form-background: #FAFAFA;
    --green-form-background: rgba(112, 153, 57, 0.2);
}
