.deliveryItems-common-container {
    display: flex;
}

.delivery-section-content {
    padding-top: 60px;
}

.delivery-header-text {
    font-weight: var(--bold-2);
    font-size: var(--font-size-40);
    color: var(--secondary-dark-color);
    text-align: center;
}

@media (max-width: 768px) {
    .delivery-header-text {
        font-size: var(--font-size-20);
        text-align: center;
    }

    .deliveryItems-common-container {
        flex-direction: column;
    }
}